#container {
  min-height: 720px;
  max-width: 1024px;
  width: 100%;

  display: grid;
  grid-template-columns: auto 1fr;

  border-radius: $rounded-lm;
  background-color: $white;
}

.user {
  display: flex;
  flex-direction: column;
  padding: 16px 40px;
  border-bottom: 1px dotted $grey-1;

  .userLogin {
    text-align: right;
    border-bottom: 3px dotted $grey-1;
    width: 100%;
    padding: 1rem 0;
  }
}
